// globals/document/

html {
  overflow-y: scroll;
}

.unsupported-browser {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

ul[role=nav] {
  list-style: none;
  display: inline-block;
  
  li {
    float:left;
    padding: 15px;
  }
}